# Gwent "LifeTime" Achievements

Here we'll summerize data per player for every season since the beginning of Masters 02.

In [1]:
%load_ext nb_black
import pandas as pd
import numpy as np
from os import listdir, path

output_path = "./output"

players_df = (
    pd.concat(
        pd.read_excel(path.join(output_path, f))
        for f in listdir("./output")
        if f.startswith("season_")
    )
    .drop(columns=["Unnamed: 0"])
    .dropna()
).sort_values(["season", "rank"])

In [2]:
def get_surplus(mmr):
    return max(0, mmr - 9600)


players_df["surplus_mmr"] = players_df["mmr"].apply(get_surplus)
players_df

,rank,name,country,matches,mmr,season,surplus_mmr
0,1,kolemoen,DE,431,10484,M2_01 Wolf 2020,884
1,2,kams134,PL,923,10477,M2_01 Wolf 2020,877
2,3,TailBot,PL,538,10472,M2_01 Wolf 2020,872
3,4,Pajabol,PL,820,10471,M2_01 Wolf 2020,871
4,5,Adzikov,PL,1105,10442,M2_01 Wolf 2020,842
...,...,...,...,...,...,...,...
4315,17482,TLGsuckMyD,PL,2,192,M3_09 Dryad 2021,0
777,17483,drago95,PL,2,192,M3_09 Dryad 2021,0
2231,17484,Ciumeck,MD,1,96,M3_09 Dryad 2021,0
286,17485,DuncanMacLe0d,RU,1,96,M3_09 Dryad 2021,0
4089,17486,NoWiSh-,TH,1,96,M3_09 Dryad 2021,0

In [3]:
players_stats_df = players_df.groupby(["name", "country"]).agg(
    appearances=pd.NamedAgg("season", "count"),
    placements=pd.NamedAgg("mmr", lambda x: (x >= 9600).sum()),
    total_matches=pd.NamedAgg("matches", "sum"),
    total_mmr=pd.NamedAgg("mmr", "sum"),
    total_surplus_mmr=pd.NamedAgg("surplus_mmr", "sum"),
)

players_stats_df["appearances_rank"] = players_stats_df["appearances"].rank(
    method="first", ascending=False
)
players_stats_df["total_matches_rank"] = players_stats_df["total_matches"].rank(
    method="first", ascending=False
)
players_stats_df["total_mmr_rank"] = players_stats_df["total_mmr"].rank(
    method="first", ascending=False
)
players_stats_df["total_surplus_mmr_rank"] = players_stats_df["total_surplus_mmr"].rank(
    method="first", ascending=False
)

players_stats_df["appearances_national_rank"] = players_stats_df.groupby(["country"])[
    "appearances"
].rank(method="first", ascending=False)
players_stats_df["total_matches_national_rank"] = players_stats_df.groupby(["country"])[
    "total_matches"
].rank(method="first", ascending=False)
players_stats_df["total_mmr_national_rank"] = players_stats_df.groupby(["country"])[
    "total_mmr"
].rank(method="first", ascending=False)

players_stats_df["total_surplus_mmr_national_rank"] = players_stats_df.groupby(
    ["country"]
)["total_surplus_mmr"].rank(method="first", ascending=False)

players_stats_df = players_stats_df.reset_index()

In [4]:
players_stats_df[players_stats_df.country == "BE"].sort_values(
    "total_mmr", ascending=False
)

,name,country,appearances,placements,total_matches,total_mmr,total_surplus_mmr,appearances_rank,total_matches_rank,total_mmr_rank,total_surplus_mmr_rank,appearances_national_rank,total_matches_national_rank,total_mmr_national_rank,total_surplus_mmr_national_rank
3189,DoctorLantern,BE,18,17,3931,174601,3842,1077.0,1541.0,554.0,604.0,1.0,3.0,1.0,1.0
8981,NotsoGodlyDog,BE,18,7,2880,147073,2141,1171.0,2881.0,1225.0,1402.0,3.0,4.0,2.0,2.0
3623,Elriel,BE,14,14,6575,134778,378,2671.0,414.0,1622.0,8420.0,7.0,1.0,3.0,25.0
5629,Intrepid_Agent,BE,17,2,2386,127079,318,1446.0,3972.0,1950.0,9593.0,4.0,9.0,4.0,31.0
18310,sllugaes,BE,15,3,5158,120099,492,2531.0,819.0,2252.0,6850.0,6.0,2.0,5.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4230,FractlZero,BE,2,0,224,11650,0,16368.0,20314.0,19131.0,20808.0,51.0,63.0,60.0,64.0
9623,Plattekees,BE,1,1,259,9878,278,20218.0,19764.0,19309.0,10478.0,63.0,61.0,61.0,37.0
818,Alph4Charlie,BE,1,1,339,9686,86,19338.0,18516.0,20468.0,18352.0,61.0,58.0,62.0,60.0
1924,BuccaneerMongoose,BE,1,1,217,9673,73,19435.0,20407.0,20636.0,18993.0,62.0,64.0,63.0,61.0
12817,Viexes,BE,1,1,272,9604,4,20534.0,19583.0,21199.0,20656.0,64.0,60.0,64.0,63.0